---
import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Baselayout from "../layouts/Baselayout.astro";
const pageTitle = "About Me";
const identity = {
    name: "Bento",
    age: 25,
    hobbies: ["coding", "gaming", "reading"],
};

const skills = ["Javascript", "Python", "Golang"];
const skillColor = "navy";
const fontSize = "2rem";
const fontWeight = "bold";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>{pageTitle}</title>
    </head>
    <body>
        <Baselayout pageTitle={pageTitle}>
            <style is:global define:vars={{ skillColor, fontSize, fontWeight }}>
                h1 {
                    color: purple;
                    font-size: 4rem;
                }
                .skill {
                    color: var(--skillColor);
                    font-size: var(--fontSize);
                    font-weight: var(--fontWeight);
                }
            </style>
            <h2>... and my new Astro site!</h2>

            <p>
                I am working through Astro's introductory tutorial. This is the
                second page on my website, and it's the first one I built
                myself!
            </p>

            <p>
                This site will update as I complete more of the tutorial, so
                keep checking back and see how my journey is going!
            </p>
            <p>Here are a few facts about me :</p>
            <ul>
                <li>Name: {identity.name}</li>
                <li>Age: {identity.age}</li>
                <li>Hobbies:</li>
                <ul>
                    {identity.hobbies.map((hobby) => <li>{hobby}</li>)}
                </ul>
                <li>Skills:</li>
                <ul>
                    {skills.map((skill) => <li class="skill">{skill}</li>)}
                </ul>
            </ul>
        </Baselayout>
    </body>
</html>
